.wrapper {
    background-color: #ffffff;
}


.pd-product-title {
    border-bottom: 1px solid #eeeeee;

}

.pd-main {
    display: flex;
    margin: 10px 0;

}

.pd-main-left {
    width: 50%;
    height: 400px;

}

.pdml-product-image {
    width: 100%;
    height: 100%;
    justify-content: center;
    display: flex;
    align-items: center;
    border: 4px solid #0e2333;
    border-radius: 10px;
}


.pd-main-right {
    margin-left:15px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

.pdmr-product-name {
    font-size: 30px;
    font-weight: 600;
    color:#0e2333;
}

.pdmr-product-price {
    margin-top: 20px;
    font-size: 30px;
    font-weight: bold;
    color: #0e2333;
}

.pdmr-product-brand {
    font-size: 16px;
    font-weight: 400;
}

.pdmr-product-country {
    font-size: 16px;
    font-weight: 400;
}


.pdmr-product-payment {
    margin-top: 4px;
    background-color: #0e2333;
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}

.pdmr-product-payment span {
    font-size: 20px;
    color: #ffffff;
}

.pd-main-extra-wrapper{
    padding: 10px 0;
    background-color: #f5f5f5;
}
.pd-desc-container{
    padding: 10px 0;
    display: flex;
}
.pd-desc-left{
    background-color: #ffffff;
    padding: 15px; 
    width: 75%;

}
.pd-desc-right{
    width: 25%;
    margin-left: 5px;
    padding: 15px;
    min-height: 350px;
    max-height: 400px;
    padding-bottom: 15px;
    background-color: #ffffff;
}
.pd-desc-right h5{
    margin-bottom: 20px;
}
.pd-review{
    background-color: #f5f5f5;
    margin-bottom: 10px;
}
.pd-review-container{
    background-color: #ffffff;
}
.pd-review-content{
    padding: 15px 0;
}

.pd-review-content{

}
.pd-r-c-list{

}
.pd-r-c-item{
    width: 100%;
    display: flex;
    margin: 10px 0;
}
.pd-r-c-item img{
    width: 60px;
    height: 60px;
    border-radius: 4px;
}
.pdrc-item-main{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.pd-related-product{
    background-color: #ffffff;
    padding: 15px 0;
}
.pd-related-product h5{
    padding-left: 15px ;
}
.list-related-product{
    display: flex;
}
.lrp-item{
    width: 25%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    box-shadow: 1px  #eeee;
    padding-bottom: 4px;
}
.lrp-item .lrp-item-img img{
    display: block;
    width: 70%;
    margin: 0 auto;
    
}
.lrp-item-name{
    display: block;
    font-size: 16px;
    padding: 0 20px;
    font-weight: 700;
}
.lrp-item-price{
    display: block;
    padding: 0 20px;
    font-size: 15px;
    color: #d0021c;
    font-weight: 500;
    width: 100%;
    font-weight: 700;

}

.pd-related-product h5{
    margin-bottom: 10px;
}


/* Responsive */
@media (max-width: 1200px) {
 
}


@media (max-width: 992px) {
 
}


@media (max-width: 768px) {

  
}

@media (max-width: 576px) {
    .pd-main{
        flex-direction: column;
    }
    .pd-main-left{
        width: 100% ;
        padding: 10px;
    }
    .pd-main-right{
        width: 100% ;
        margin-left: 0;
    }
    .pdmr-product-price{
        margin-top: 0;
    }
    .pd-desc-container{
        flex-direction: column-reverse;
    }
    .pd-desc-left{
        width: 100%;
        padding: 10px;
    }
    .pd-desc-right{
        width: 100%;
        padding: 10px;
        margin-left: 0;
        margin-bottom: 10px;
    }
    .list-related-product{
        flex-wrap: wrap;
    }

    .lrp-item{
        width: 50%;
    }
    .lrp-item-name{
        font-size: 14px;
    }
    .lrp-item-price{
        font-size: 14px;
    }
}

